@{
    Layout = null;
}

@model List<Dialogue.Domain.Models.Language>

@if (Model != null && Model.Any())
{   
    foreach (var leng in Model)
    {
        <option value="@leng.Id">
            @leng.LanguageName
        </option>
    }
}