@{
    Layout = "../Shared/_Layout.cshtml";
}

@section Title
{
    <title>Sunday MTB School</title>
}

<div id="start-section" class="cd-fixed-bg cd-bg-1">
    <div class="inf-block">
        <h1 class="bounceInDown wow">SUNDAY MTB SCHOOL</h1>
        <h2 class="bounceInDown wow">ВОСКРЕСНАЯ MTB ШКОЛА</h2>
        <h3 class="bounceInDown wow">
            БОЛЬШЕ ТРЕНИРОВОК -<br>БОЛЬШЕ СКИЛ!
        </h3>
        @*<div class="inf-block-color-g">
            <div class="triangle-down fadeInDown animated"></div>
            <h3>ВВОДНЫЙ УРОК - БЕСПЛАТНО</h3>
            <button id="trlsbtn" type="button" class="btn btn-st trigger" data-toggle="modal" data-target="#trial-lesson-dialog" onclick="loadTrialModal()">ЗАПИСАТЬСЯ</button>
        </div>*@
    </div>
    <div class="row bot-row">
        <div class="col-md-4">
            <div class="lang-hidden">
            </div>
            @*<div class="left flipInX animated wow">
                <div class="dropdown open">
                    <ul class="dropdown-menu drop-menu-up" aria-labelledby="dLabel">
                        <li>
                            <a href="/english">
                                <div class="row-lang">
                                    <img class="icon-flag" src="/Content/img/english_flag-min.png" />
                                    Английский
                                </div>
                            </a>
                        </li>
                        <li>
                            <a href="/spanish">
                                <div class="row-lang">
                                    <img class="icon-flag" src="/Content/img/es-min.png" />
                                    Испанский
                                </div>
                            </a>
                        </li>
                        <li>
                            <a href="/italian">
                                <div class="row-lang">
                                    <img class="icon-flag" src="/Content/img/it-min.png" />
                                    Итальянский
                                </div>
                            </a>
                        </li>
                        <li>
                            <a href="/french">
                                <div class="row-lang">
                                    <img class="icon-flag" src="/Content/img/flag_francii-min.png" />
                                    Французский
                                </div>
                            </a>
                        </li>
                        <li>
                            <a href="/german">
                                <div class="row-lang">
                                    <img class="icon-flag" src="/Content/img/de-min.png" />
                                    Немецкий
                                </div>
                            </a>
                        </li>
                    </ul>
                </div>
            </div>*@

        </div>
        <div class="col-md-4 midle flipInX animated wow">
            <div class="icon-scroll-main">
                <img class="icon-mouse" src="/Content/img/icon-mouse-r.png" />
                <p>
                    SCROLL <br> TO <br> DOWN
                </p>
            </div>
        </div>
        <div class="col-md-4 flipInX animated wow links">
            <div class="content">
                <a href="#" target="">
                    <img class="cotacts icon-fb" src="/Content/img/icon-fb.png" />
                </a>
                <a href="#" target="">
                    <img class="cotacts icon-twitter" src="/Content/img/icon-twitter.png" />
                </a>
                <a href="https://vk.com/sunday_mtb_school" target="_blank"> <img class="cotacts icon-vk" src="/Content/img/icon-vk.png" /></a>
            </div>
        </div>
    </div>
</div>

@*<div class="cd-scrolling-bg cd-color-1 fix-mh">
    <div class="container">
        <h1>
            Нас выбирают потому, что:
        </h1>
        <div class="row text-center">
            <div class="col-md-4">
                <div class="gif-anim">
                    <img class="img-png" src="/Content/img/darts.png" />
                </div>
                <p>
                    <br>Мы учитываем ваши<br>
                    интересы и цели<br>
                    изучения языка<br>
                </p>
            </div>
            <div class="col-md-4">
                <div class="gif-anim">
                    <img class="img-png" src="/Content/img/happypeople.png" alt="" />
                </div>
                <p>
                    <br>Мы любим то,<br>
                    что мы делаем<br>
                </p>
            </div>
            <div class="col-md-4">
                <div class="gif-anim">
                    <img class="img-png" src="/Content/img/pig.png" />
                </div>
                <p>
                    <br>Мы предлагаем <br>
                    удобные цены<br>
                </p>
            </div>
        </div>
    </div>
</div>*@
<div class="cd-fixed-bg cd-bg-2 fix-h ">
    <h2>
          Начните тренироваться с нами! <br> Begin to ride with us!
    </h2>
</div>
<div class="cd-scrolling-bg cd-color-1 color-scheme-3 fix-mh">
    <div class="container">
        <h1>
            С нами вы научитесь:
        </h1>
        <div class="row text-center">
            <div class="col-md-4">
                <img class="icon-application" src="~/Content/img/icon-bicycle.png" />
                <h4>
                    Уверенно <br> катать
                </h4>
            </div>
            <div class="col-md-4 ">
                <img src="~/Content/img/icon-cool-ride.png" />
                <h4>
                    Круто <br> наваливать
                </h4>
            </div>
            <div class="col-md-4">
                <img src="~/Content/img/icon-bike-fall.png" />
                <h4>
                    Меньше <br> убираться
                </h4>
            </div>
        </div>
    </div>
</div>
<div class="cd-scrolling-bg cd-color-2 color-scheme-4 fix-mh foot">
    <div class="triangle-down-2 td-2"></div>
    <h3>
        Хватит залипать в комп, поехали катать!<br/><br/>Stop sticking to screen, let's go ride!
    </h3>
    @*<button id="trlsbtn1" type="button" class="btn btn-st trigger" data-toggle="modal" data-target="#trial-lesson-dialog" onclick="loadTrialModal()">ЗАПИСАТЬСЯ</button>*@
</div>
@Scripts.Render("~/bundles/index")