@{
    Layout = "../Shared/_Layout.cshtml";
}

@section Title
{
    <title>Dialogue</title>
}

<div id="start-section" class="cd-fixed-bg cd-bg-1">
    <div class="inf-block">
        <h1 class="bounceInDown wow">ИНОСТРАННЫЕ ЯЗЫКИ ПО СКАЙПУ</h1>
        <h3 class="bounceInDown wow">
            БОЛЬШЕ ВОЗМОЖНОСТЕЙ,<br>МЕНЬШЕ УСИЛИЙ!
        </h3>
        <div class="inf-block-color-g">
            <div class="triangle-down fadeInDown animated"></div>
            <h3>ВВОДНЫЙ УРОК - БЕСПЛАТНО</h3>
            <button id="trlsbtn" type="button" class="btn btn-st trigger" data-toggle="modal" data-target="#trial-lesson-dialog" onclick="loadTrialModal()">ЗАПИСАТЬСЯ</button>
        </div>
    </div>
    <div class="row bot-row">
        <div class="col-md-4">
            <div class="lang-hidden">
            </div>
            <div class="left flipInX animated wow">
                <div class="dropdown open">
                    <ul class="dropdown-menu drop-menu-up" aria-labelledby="dLabel">
                        <li>
                            <a href="/english">
                                <div class="row-lang">
                                    <img class="icon-flag" src="/Content/img/english_flag-min.png" />
                                    Английский
                                </div>
                            </a>
                        </li>
                        <li>
                            <a href="/spanish">
                                <div class="row-lang">
                                    <img class="icon-flag" src="/Content/img/es-min.png" />
                                    Испанский
                                </div>
                            </a>
                        </li>
                        <li>
                            <a href="/italian">
                                <div class="row-lang">
                                    <img class="icon-flag" src="/Content/img/it-min.png" />
                                    Итальянский
                                </div>
                            </a>
                        </li>
                        <li>
                            <a href="/french">
                                <div class="row-lang">
                                    <img class="icon-flag" src="/Content/img/flag_francii-min.png" />
                                    Французский
                                </div>
                            </a>
                        </li>
                        <li>
                            <a href="/german">
                                <div class="row-lang">
                                    <img class="icon-flag" src="/Content/img/de-min.png" />
                                    Немецкий
                                </div>
                            </a>
                        </li>
                    </ul>
                </div>
            </div>

        </div>
        <div class="col-md-4 midle flipInX animated wow">
            <div class="icon-scroll ">
                <img class="icon-mouse" src="/Content/img/icon-mouse.png" />
                <p>
                    Прокрутите, чтобы <br> посмотреть секции <br> веб-сайта
                </p>
            </div>
        </div>
        <div class="col-md-4 flipInX animated wow links">
            <div class="content">
                <a href="https://www.facebook.com/%D0%AF%D0%B7%D1%8B%D0%BA%D0%BE%D0%B2%D0%B0%D1%8F-%D0%BE%D0%BD%D0%BB%D0%B0%D0%B9%D0%BD-%D1%88%D0%BA%D0%BE%D0%BB%D0%B0-Dialogue-1709333795979757/?notif_t=page_fan" target="_blank">
                    <img class="cotacts icon-fb" src="/Content/img/icon-fb.png" />
                </a>
                <a href="https://twitter.com/dialogue_school" target="_blank">
                    <img class="cotacts icon-twitter" src="/Content/img/icon-twitter.png" />
                </a>
                <a href="https://vk.com/dialogueonlineschool" target="_blank"> <img class="cotacts icon-vk" src="/Content/img/icon-vk.png" /></a>
            </div>
        </div>
    </div>
</div>

<div class="cd-scrolling-bg cd-color-1 fix-mh">
    <div class="container">
        <h1>
            Нас выбирают потому, что:
        </h1>
        <div class="row text-center">
            <div class="col-md-4">
                <div class="gif-anim">
                    <img class="img-png" src="/Content/img/darts.png" />
                </div>
                <p>
                    <br>Мы учитываем ваши<br>
                    интересы и цели<br>
                    изучения языка<br>
                </p>
            </div>
            <div class="col-md-4">
                <div class="gif-anim">
                    <img class="img-png" src="/Content/img/happypeople.png" alt="" />
                </div>
                <p>
                    <br>Мы любим то,<br>
                    что мы делаем<br>
                </p>
            </div>
            <div class="col-md-4">
                <div class="gif-anim">
                    <img class="img-png" src="/Content/img/pig.png" />
                </div>
                <p>
                    <br>Мы предлагаем <br>
                    удобные цены<br>
                </p>
            </div>
        </div>
    </div>
</div>
<div class="cd-fixed-bg cd-bg-2 fix-h ">
    <h2>
        Начните изучать иностранные языки <br> по скайпу в «Dialogue»
    </h2>
</div>
<div class="cd-scrolling-bg cd-color-1 color-scheme-3 fix-mh">
    <div class="container">
        <h1>
            С нами вы сможете:
        </h1>
        <div class="row text-center">
            <div class="col-md-4">
                <img class="icon-application" src="~/Content/img/icon-progress.png" />
                <h4>
                    Преуспеть в <br> карьере
                </h4>
            </div>
            <div class="col-md-4 ">
                <img src="~/Content/img/icon-baggage.png" />
                <h4>
                    Свободно общаться <br>в путешествии
                </h4>
            </div>
            <div class="col-md-4">
                <img src="~/Content/img/icon-outlook.png" />
                <h4>
                    Расширить свой<br> кругозор
                </h4>
            </div>
        </div>
    </div>
</div>
<div class="cd-scrolling-bg cd-color-2 color-scheme-4 fix-mh foot">
    <div class="triangle-down-2 td-2"></div>
    <h3>
        Запишитесь на бесплатный вводный урок уже сейчас!
    </h3>
    <button id="trlsbtn1" type="button" class="btn btn-st trigger" data-toggle="modal" data-target="#trial-lesson-dialog" onclick="loadTrialModal()">ЗАПИСАТЬСЯ</button>
</div>
@Scripts.Render("~/bundles/index")