@{
    Layout = "../Shared/_Layout.cshtml";
}
@section Title
{
    <title>Dialogue Как это работает</title>
}
        <div class="cd-scrolling-bg bg-color fix-mh">
            <div class="container">
                <div class="row text-center simple_steps">
                    <h2 class="pulse wow">
                        КАК СТАТЬ СТУДЕНТОМ ШКОЛЫ?<br>
                        ВСЕГО З ПРОСТЫХ ШАГА:
                    </h2>
                    <div class="title_line_1 color_red bounceInUp wow"></div>
                    <div class="title_line_2 color_red bounceInUp wow"></div>
                    <div class="col-md-4 steps fadeIn wow">
                        <img src="~/Content/img/icon-application.png" />
                        <img class="arrow_r" src="~/Content/img/icon-arrow-min.png" />
                        <h4>
                            ПОДАТЬ ЗАЯВКУ <br /> НА ОБУЧЕНИЕ
                        </h4>
                        <p>В самое ближайшее время с вами свяжется <br /> наш менеджер, чтобы назначить дату <br />и время вводного урока</p>
                    </div>
                    <div class="col-md-4 steps fadeIn wow">
                        <img src="~/Content/img/icon-dialogue-.png" />
                        <img class="arrow_r" src="~/Content/img/icon-arrow-min.png" />
                        <h4>
                            ЗАПИСАТЬСЯ НА <br /> ВВОДНЫЙ УРОК
                        </h4>
                        <p>Онлайн-школа “Dialogue” предлагает <br />  Вам пройти бесплатный вводный урок (20-30 минут). <br />  Для этого заполните заявку и <br />  в ближайшее время наши менеджеры<br />  свяжутся с вами и ответят <br /> на все ваши вопросы!</p>
                    </div>
                    <div class="col-md-4 steps fadeIn wow">
                        <img src="~/Content/img/icon-ruble.png" />
                        <h4>
                            ОПЛАТИТЬ ЖЕЛАЕМОЕ <br /> КОЛИЧЕСТВО УРОКОВ
                        </h4>
                        <p>
                            Дата и время первого урока назначена,<br /> ваш преподаватель пришлет вам учебный материал.<br />  Теперь самое время
                            приступать<br />  к занятиям. Удачи!
                        </p>
                    </div>
                </div>
            </div>
        </div>

<div class="cd-scrolling-bg cd-color-5 fix-mh">
        <div class="triangle-down td-3"></div>
        <div class="container">
            <div class="row text-center title_needs">
                <h2 class="pulse wow">
                    ЧТО НУЖНО ДЛЯ УЧЕБЫ <br/> В «DIALOGUE»:
                </h2>
                <div class="title_line_1 bounceInUp wow"></div>
                <div class="title_line_2 bounceInUp wow"></div>
                <div class="col-md-4 need pulse wow">
                    <img src="~/Content/img/icon-headphone.png"/>
                    <h4>
                        КОМПЬЮТЕР, НАУШНИКИ И МИКРОФОН
                    </h4>
                </div>
                <div class="col-md-4 need pulse wow">
                    <img src="~/Content/img/icon-internet.png"/>
                    <h4>ПОДКЛЮЧЕНИЕ <br/> К ИНТЕРНЕТ </h4>
                </div>
                <div class="col-md-4 need pulse wow">
                    <img src="~/Content/img/icon-skype.png"/>
                    <h4>БЕСПЛАТНАЯ ПРОГРАММА <br/>SKYPE</h4>
                </div>

            </div>
        </div>
    </div>
<div class="cd-fixed-bg cd-bg-4">
    <div class="container">
        <div class="caption_enroll fadeInDown animated">
            <h2>ИНОСТРАННЫЕ ЯЗЫКИ ПО СКАЙПУ В ОНЛАЙН-ШКОЛЕ «DIALOGUE»</h2>
            <div class="title_line_1 color_red"></div>
            <div class="title_line_2 color_red"></div>
        </div>
        <div class="well example">
            <div class="metod">
                <p>
                    Онлайн-уроки по скайпу с высококвалифицированными преподавателями онлайн-школы “Dialogue” - отличная альтернатива изучению иностранных языков в школе, в наиболее подходящее для вас время, не выходя из дома или же не покидая своего рабочего места.
                </p>
                <p>Для нас важно, чтобы вы с самого первого урока могли говорить на языке, который изучаете. Преподавание в нашей школы строится по коммуникативной методике, и каждый преподаватель уделяет большое внимание разговорной практике. </p>
                <p>Ключевую роль в максимальной эффективности изучении языка играет мотивация, поэтому для нас важно, чтобы вам было интересно. Новый грамматический и лексический материал объясняется на ярких, запоминающихся примерах и ситуациях.</p>
                <p>Для улучшения навыков чтения, аудирования и письма наши преподаватели используют современные интернет ресурсы, предлагая наиболее интересный для вас материал.</p>
                <p>Учебный материал подбирается индивидуально для каждого студента школы и высылается бесплатно на электронную почту.</p>
            </div>
        </div>
    </div>
</div>
<script>
    $(document).ready(function() {
        $("#how-it-works").addClass("page-scroll-active");
    });
</script>