@model Dialogue.Models.TeacherVm

@{
    Layout = null;
}

<div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
    <h4 class="modal-title text-color">@Model.FullName</h4>
</div>

<div class="modal-body text-color">

        <img class="teacher-img" src="/Content/images/@Model.ImagePath" alt="" />

    <div class="row">
            <div class="col-md-6 col-lg-6">
                <b>Образование: </b>@Model.Education
            </div>
            <div class="col-md-6 col-lg-6">
                <b>Стаж: </b>@Model.ExperienceInYears
            </div>
    </div>
    <br />
    @{
        var separatedDesc = Model.Description.Split('\n');
        foreach (var s in separatedDesc)
        {
            <p>@s</p>
        }
    }
    @if (Model.HasAudio)
    {
        <audio class="maudio" src="/Content/AudioSamples/@Model.AudioPath" preload="none" controls></audio>
    }
</div>