@{
    Layout = null;   
}

@model List<SMS.Domain.Models.Teacher>

@if (Model != null && Model.Any())
{
    foreach (var teacher in Model)
    {
        <option value="@teacher.Id">
            @teacher.FullName
        </option>
    }
}