@{ Layout = null; }

<footer class="end">
    @*<ul class="lang-links">
        <li><a href="http://dialogue-online.ru/english"><strong>Английский</strong></a></li>
        <li><a href="http://dialogue-online.ru/spanish"><strong>Испанский</strong></a></li>
        <li><a href="http://dialogue-online.ru/german"><strong>Немецкий</strong></a></li>
        <li><a href="http://dialogue-online.ru/french"><strong>Французский</strong></a></li>
        <li><a href="http://dialogue-online.ru/italian"><strong>Итальянский</strong></a></li>
        <li><a href="http://dialogue-online.ru/portuguese"><strong>Португальский</strong></a></li>
    </ul>*@
    <span>2015 Sunday MTB School</span>
    <p class="skype-data">
        Скайп менеджера школы - <strong>alfa512ks</strong>
    </p>
    <p class="email-data">
        E-mail: <strong>alfa512ks@gmail.com</strong>
    </p>
</footer>