@{ Layout = null; }
<div id="lesson-popover" class="popover fade bottom in">
    <div class="arrow"></div>
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>

    <div class="popover-content">
        <p>Вы успешно записаны на вводный урок!</p>
    </div>
</div>