@{
    Layout = null;
}

<div class="cd-fixed-bg-2 cd-bg-5">
    <div class="title costs-an-leng fadeInDown animated">
        ИНОСТРАННЫЕ ЯЗЫКИ <br />С ПРЕПОДАВАТЕЛЯМИ
    </div>
    <div class="title_line_1 fadeInDown animated"></div>
    <div class="title_line_2 fadeInDown animated"></div>
    <div class="part-2-cost container">
        <div class="marg-auto">

            <div class="buttons-switch">
                <button data-target="#rus-teacher" data-toggle="tab" type="button" class="btn switch switch-orange rus-prepod active left-tab-choise-btn">
                    <h4>РУССКОЯЗЫЧНЫМИ</h4>
                </button>
                <button data-target="#leng-teacher" data-toggle="tab" type="button" class="btn switch switch-orange speak-prepod right-tab-choise-btn">
                    <h4>НОСИТЕЛЯМИ ЯЗЫКА</h4>
                </button>
            </div>

            <div class="tab-content">
                <div class="cost_item one tab-pane active" id="rus-teacher">
                    <div class="all_tab margin-part2-cost">
                        <ul class="cost_tabs">
                            <li class="title_tabs">Время занятий</li>
                            <li>
                                <div class="second_tabs grey_second_tabs grey-sq grey-sq-selected">
                                    <div class="grey-sq" data-target="#rus45-teacher" data-toggle="tab">
                                        45
                                        <br /> минут
                                    </div>
                                </div>
                            </li>
                            <li>
                                <div class="second_tabs grey_second_tabs grey-sq">
                                    <div class="grey-sq" data-target="#rus60-teacher" data-toggle="tab">
                                        60
                                        <br /> минут
                                    </div>
                                </div>
                            </li>
                            <li>
                                <div class="second_tabs grey_second_tabs grey-sq">
                                    <div class="grey-sq" data-target="#rus90-teacher" data-toggle="tab">
                                        90
                                        <br /> минут
                                    </div>
                                </div>
                            </li>
                        </ul>
                        <div class="tab-content">
                            <table class="cost_section table-teacher-cost tab-pane active" id="rus45-teacher">
                                <thead>
                                    <tr>
                                        <th class="border-line">Количество занятий</th>
                                        <th>Скидка</th>
                                        <th>Стоимость занятия</th>
                                        <th>Стоимость пакета</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td>1</td>
                                        <td>-</td>
                                        <td>600Р</td>
                                        <td>600Р</td>
                                    </tr>
                                    <tr>
                                        <td>5</td>
                                        <td>3%</td>
                                        <td>582Р</td>
                                        <td>2910Р</td>
                                    </tr>
                                    <tr>
                                        <td>10</td>
                                        <td>5%</td>
                                        <td>570Р</td>
                                        <td>5700Р</td>
                                    </tr>
                                    <tr>
                                        <td>20</td>
                                        <td>10%</td>
                                        <td>540Р</td>
                                        <td>10800Р</td>
                                    </tr>
                                </tbody>
                            </table>
                            <table class="cost_section table-teacher-cost tab-pane" id="rus60-teacher">
                                <thead>
                                    <tr>
                                        <th class="border-line">Количество занятий</th>
                                        <th>Скидка</th>
                                        <th>Стоимость занятия</th>
                                        <th>Стоимость пакета</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td>1</td>
                                        <td>-</td>
                                        <td>800Р</td>
                                        <td>800Р</td>
                                    </tr>
                                    <tr>
                                        <td>5</td>
                                        <td>3%</td>
                                        <td>776Р</td>
                                        <td>3880Р</td>
                                    </tr>
                                    <tr>
                                        <td>10</td>
                                        <td>5%</td>
                                        <td>760Р</td>
                                        <td>7600Р</td>
                                    </tr>
                                    <tr>
                                        <td>20</td>
                                        <td>10%</td>
                                        <td>720Р</td>
                                        <td>14400Р</td>
                                    </tr>
                                </tbody>
                            </table>
                            <table class="cost_section table-teacher-cost tab-pane" id="rus90-teacher">
                                <thead>
                                    <tr>
                                        <th class="border-line">Количество занятий</th>
                                        <th>Скидка</th>
                                        <th>Стоимость занятия</th>
                                        <th>Стоимость пакета</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td>1</td>
                                        <td>-</td>
                                        <td>1200Р</td>
                                        <td>1200Р</td>
                                    </tr>
                                    <tr>
                                        <td>5</td>
                                        <td>3%</td>
                                        <td>1165Р</td>
                                        <td>5825Р</td>
                                    </tr>
                                    <tr>
                                        <td>10</td>
                                        <td>5%</td>
                                        <td>1140Р</td>
                                        <td>11400Р</td>
                                    </tr>
                                    <tr>
                                        <td>20</td>
                                        <td>10%</td>
                                        <td>1080Р</td>
                                        <td>21600Р</td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>

                </div>

                <div class="cost_item two tab-pane" id="leng-teacher">
                    <div class="all_tab">
                        <ul class="cost_tabs">
                            <li class="title_tabs">Время занятий</li>
                            <li>
                                <div class="second_tabs grey_second_tabs grey-sq grey-sq-selected">
                                    <div class="grey-sq" data-target="#leng45-teacher" data-toggle="tab">
                                        45
                                        <br /> минут
                                    </div>
                                </div>
                            </li>
                            <li>
                                <div class="second_tabs grey_second_tabs grey-sq">
                                    <div class="grey-sq" data-target="#leng60-teacher" data-toggle="tab">
                                        60
                                        <br /> минут
                                    </div>
                                </div>
                            </li>
                            <li>
                                <div class="second_tabs grey_second_tabs grey-sq">
                                    <div class="grey-sq" data-target="#leng90-teacher" data-toggle="tab">
                                        90
                                        <br /> минут
                                    </div>
                                </div>
                            </li>
                        </ul>
                        <div class="tab-content">
                            <table class="cost_section table-teacher-cost tab-pane active" id="leng45-teacher">
                                <thead>
                                    <tr>
                                        <th class="border-line">Количество занятий</th>
                                        <th>Скидка</th>
                                        <th>Стоимость занятия</th>
                                        <th>Стоимость пакета</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td>1</td>
                                        <td>-</td>
                                        <td>790Р</td>
                                        <td>790Р</td>
                                    </tr>
                                    <tr>
                                        <td>5</td>
                                        <td>3%</td>
                                        <td>765Р</td>
                                        <td>3825Р</td>
                                    </tr>
                                    <tr>
                                        <td>10</td>
                                        <td>5%</td>
                                        <td>750Р</td>
                                        <td>7500Р</td>
                                    </tr>
                                    <tr>
                                        <td>20</td>
                                        <td>10%</td>
                                        <td>710Р</td>
                                        <td>14200Р</td>
                                    </tr>
                                </tbody>
                            </table>
                            <table class="cost_section table-teacher-cost tab-pane" id="leng60-teacher">
                                <thead>
                                    <tr>
                                        <th class="border-line">Количество занятий</th>
                                        <th>Скидка</th>
                                        <th>Стоимость занятия</th>
                                        <th>Стоимость пакета</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td>1</td>
                                        <td>-</td>
                                        <td>1050Р</td>
                                        <td>1050Р</td>
                                    </tr>
                                    <tr>
                                        <td>5</td>
                                        <td>3%</td>
                                        <td>1020Р</td>
                                        <td>5100Р</td>
                                    </tr>
                                    <tr>
                                        <td>10</td>
                                        <td>5%</td>
                                        <td>1000Р</td>
                                        <td>10000Р</td>
                                    </tr>
                                    <tr>
                                        <td>20</td>
                                        <td>10%</td>
                                        <td>945Р</td>
                                        <td>18900Р</td>
                                    </tr>
                                </tbody>
                            </table>
                            <table class="cost_section table-teacher-cost tab-pane" id="leng90-teacher">
                                <thead>
                                    <tr>
                                        <th class="border-line">Количество занятий</th>
                                        <th>Скидка</th>
                                        <th>Стоимость занятия</th>
                                        <th>Стоимость пакета</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td>1</td>
                                        <td>-</td>
                                        <td>1580Р</td>
                                        <td>1580Р</td>
                                    </tr>
                                    <tr>
                                        <td>5</td>
                                        <td>3%</td>
                                        <td>1530Р</td>
                                        <td>7650Р</td>
                                    </tr>
                                    <tr>
                                        <td>10</td>
                                        <td>5%</td>
                                        <td>1500Р</td>
                                        <td>15000Р</td>
                                    </tr>
                                    <tr>
                                        <td>20</td>
                                        <td>10%</td>
                                        <td>1422Р</td>
                                        <td>28440Р</td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>

                </div>
            </div>
            <div class="pay-cost">
                <button type="button" class="btn dark-btn-pay" data-toggle="modal" data-target="#Modalpay">
                    оплатить
                </button>
            </div>
        </div>
    </div>
</div>