@{
    Layout = null;
}

<div class="cd-fixed-bg cd-bg-3">
    <div class="info-block">
        <div class="title fadeInDown animated">СТОИМОСТЬ КУРСОВ</div>
        <div class="title_line_1 color_red fadeInDown animated"></div>
        <div class="title_line_2 color_red fadeInDown animated"></div>
        <div class="part-1-cost container">
            <div class="buttons-switch">
                <button data-target="#foundation" data-toggle="tab" type="button" class="btn switch foundation-c active act-cost-up-1 left-tab-choise-btn">
                    <h4>ОСНОВНОЙ</h4>
                </button>
                <button data-target="#spec" data-toggle="tab" type="button" class="btn switch special-c act-cost-up-1 right-tab-choise-btn"><h4>СПЕЦИАЛИЗИРОВАННЫЙ</h4></button>
            </div>
            <div class="tab-content">
                <div class="cost_item one tab-pane active" id="foundation">
                    <div class="all_tab">
                        <ul class="cost_tabs">
                            <li class="title_tabs">Время занятий</li>
                            <li>
                                <div class="second_tabs orange-sq orange-sq-selected">
                                    <div class="orange-sq orange-sq-selected" data-target="#cost45foundation" data-toggle="tab">
                                        45
                                        <br /> минут
                                    </div>
                                </div>
                            </li>
                            <li>
                                <div class="second_tabs orange-sq">
                                    <div class="orange-sq" data-target="#cost60foundation" data-toggle="tab">
                                        60
                                        <br /> минут
                                    </div>
                                </div>
                            </li>
                            <li>
                                <div class="second_tabs orange-sq">
                                    <div class="orange-sq" data-target="#cost90foundation" data-toggle="tab">
                                        90
                                        <br /> минут
                                    </div>
                                </div>
                            </li>
                        </ul>
                        <div class="tab-content">

                            <table class="cost_section tab-pane active" id="cost45foundation">
                                <thead>
                                    <tr>
                                        <th class="border-line">Количество занятий</th>
                                        <th>Скидка</th>
                                        <th>Стоимость занятия</th>
                                        <th>Стоимость пакета</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td>1</td>
                                        <td>-</td>
                                        <td>450Р</td>
                                        <td>450Р</td>
                                    </tr>
                                    <tr>
                                        <td>5</td>
                                        <td>3%</td>
                                        <td>437Р</td>
                                        <td>2185Р</td>
                                    </tr>
                                    <tr>
                                        <td>10</td>
                                        <td>5%</td>
                                        <td>428Р</td>
                                        <td>4280Р</td>
                                    </tr>
                                    <tr>
                                        <td>20</td>
                                        <td>10%</td>
                                        <td>405Р</td>
                                        <td>8100Р</td>
                                    </tr>
                                </tbody>
                            </table>
                            <table class="cost_section tab-pane " id="cost60foundation">
                                <thead>
                                    <tr>
                                        <th class="border-line">Количество занятий</th>
                                        <th>Скидка</th>
                                        <th>Стоимость занятия</th>
                                        <th>Стоимость пакета</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td>1</td>
                                        <td>-</td>
                                        <td>600Р</td>
                                        <td>600Р</td>
                                    </tr>
                                    <tr>
                                        <td>5</td>
                                        <td>3%</td>
                                        <td>582Р</td>
                                        <td>2910Р</td>
                                    </tr>
                                    <tr>
                                        <td>10</td>
                                        <td>5%</td>
                                        <td>570Р</td>
                                        <td>5700Р</td>
                                    </tr>
                                    <tr>
                                        <td>20</td>
                                        <td>10%</td>
                                        <td>540Р</td>
                                        <td>10800Р</td>
                                    </tr>
                                </tbody>
                            </table>
                            <table class="cost_section tab-pane" id="cost90foundation">
                                <thead>
                                    <tr>
                                        <th class="border-line">Количество занятий</th>
                                        <th>Скидка</th>
                                        <th>Стоимость занятия</th>
                                        <th>Стоимость пакета</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td>1</td>
                                        <td>-</td>
                                        <td>900Р</td>
                                        <td>900Р</td>
                                    </tr>
                                    <tr>
                                        <td>5</td>
                                        <td>3%</td>
                                        <td>873Р</td>
                                        <td>4365Р</td>
                                    </tr>
                                    <tr>
                                        <td>10</td>
                                        <td>5%</td>
                                        <td>855Р</td>
                                        <td>8550Р</td>
                                    </tr>
                                    <tr>
                                        <td>20</td>
                                        <td>10%</td>
                                        <td>810Р</td>
                                        <td>16200Р</td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>

                    </div>
                </div>

                <div class="cost_item two tab-pane" id="spec">
                    <div class="all_tab">
                        <ul class="cost_tabs">
                            <li class="title_tabs">Время занятий</li>
                            <li>
                                <div class="second_tabs orange-sq orange-sq-selected">
                                    <div class="orange-sq" data-target="#spec45" data-toggle="tab">
                                        45
                                        <br /> минут
                                    </div>
                                </div>
                            </li>
                            <li>
                                <div class="second_tabs orange-sq">
                                    <div class="orange-sq" data-target="#spec60" data-toggle="tab">
                                        60
                                        <br /> минут
                                    </div>
                                </div>
                            </li>
                            <li>
                                <div class="second_tabs orange-sq">
                                    <div class="orange-sq" data-target="#spec90" data-toggle="tab">
                                        90
                                        <br /> минут
                                    </div>
                                </div>
                            </li>
                        </ul>
                        <div class="tab-content">
                            <table class="cost_section tab-pane active" id="spec45">
                                <thead>
                                    <tr>
                                        <th class="border-line">Количество занятий</th>
                                        <th>Скидка</th>
                                        <th>Стоимость занятия</th>
                                        <th>Стоимость пакета</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td>1</td>
                                        <td>-</td>
                                        <td>525Р</td>
                                        <td>525Р</td>
                                    </tr>
                                    <tr>
                                        <td>5</td>
                                        <td>3%</td>
                                        <td>510Р</td>
                                        <td>2550Р</td>
                                    </tr>
                                    <tr>
                                        <td>10</td>
                                        <td>5%</td>
                                        <td>500Р</td>
                                        <td>5000Р</td>
                                    </tr>
                                    <tr>
                                        <td>20</td>
                                        <td>10%</td>
                                        <td>473Р</td>
                                        <td>9460Р</td>
                                    </tr>
                                </tbody>
                            </table>
                            <table class="cost_section tab-pane" id="spec60">
                                <thead>
                                    <tr>
                                        <th class="border-line">Количество занятий</th>
                                        <th>Скидка</th>
                                        <th>Стоимость занятия</th>
                                        <th>Стоимость пакета</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td>1</td>
                                        <td>-</td>
                                        <td>700Р</td>
                                        <td>700Р</td>
                                    </tr>
                                    <tr>
                                        <td>5</td>
                                        <td>3%</td>
                                        <td>680Р</td>
                                        <td>3400Р</td>
                                    </tr>
                                    <tr>
                                        <td>10</td>
                                        <td>5%</td>
                                        <td>665Р</td>
                                        <td>6650Р</td>
                                    </tr>
                                    <tr>
                                        <td>20</td>
                                        <td>10%</td>
                                        <td>630Р</td>
                                        <td>12600Р</td>
                                    </tr>
                                </tbody>
                            </table>
                            <table class="cost_section tab-pane" id="spec90">
                                <thead>
                                    <tr>
                                        <th class="border-line">Количество занятий</th>
                                        <th>Скидка</th>
                                        <th>Стоимость занятия</th>
                                        <th>Стоимость пакета</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td>1</td>
                                        <td>-</td>
                                        <td>1050Р</td>
                                        <td>1050Р</td>
                                    </tr>
                                    <tr>
                                        <td>5</td>
                                        <td>3%</td>
                                        <td>1020Р</td>
                                        <td>5100Р</td>
                                    </tr>
                                    <tr>
                                        <td>10</td>
                                        <td>5%</td>
                                        <td>1000Р</td>
                                        <td>10000Р</td>
                                    </tr>
                                    <tr>
                                        <td>20</td>
                                        <td>10%</td>
                                        <td>945Р</td>
                                        <td>18900Р</td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
            <button type="button" class="btn btn-pay" data-toggle="modal" data-target="#Modalpay">
                оплатить
            </button>
        </div>
        <div class="pay-cost">
            <div compile="payRequestModalContainer" name="pay-request-modal-container" ng-controller="validateCtrl" class="modal modal-cost fade" id="Modalpay" tabindex="-1" role="dialog">

            </div>
        </div>
    </div>
</div>