@{
    Layout = "../Shared/_Layout.cshtml";
}

@section Title
{
    <title>Dialogue Курсы</title>
}
<div class="cd-scrolling-bg bg-courses-1 ">
    <div class="container content-2">
        <div class="pattern pattern--hidden "></div>
        <div class="card__caption_title f-t-marg fadeInDown animated" id="span">
            <h2>ИНОСТРАННЫЕ ЯЗЫКИ</h2>
            <div class="title_line_1 color_red"></div>
            <div class="title_line_2 color_red"></div>
        </div>
        <div id="cardEnglish" class="card">
            <div class="card__container card__container--closed">
                <svg class="card__image" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" viewBox="0 0 1920 500" preserveAspectRatio="xMidYMid slice">
                    <defs>
                    </defs>
                    <image clip-path="url(#clipPath6)" width="1920px" height="500" xlink:href="/Content/img/eng-min.jpg"></image>
                </svg>
                <div class="card__content">
                    <i class="card__btn-close fa fa-times"><img src="../Content/img/close.jpg" /></i>
                    <div class="card__caption">
                        <h2 class="card__title">Английский</h2>
                    </div>
                </div>
            </div>
        </div>

        <div id="cardSpanish" class="card">
            <div class="card__container card__container--closed">
                <svg class="card__image" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" viewBox="0 0 1920 500" preserveAspectRatio="xMidYMid slice">
                    <defs>
                    </defs>
                    <image clip-path="url(#clipPath3)" width="1920px" height="500" xlink:href="/Content/img/sevilla-sevilya-plaza-de.jpg"></image>
                </svg>
                <div class="card__content">
                    <i class="card__btn-close fa fa-times"><img src="../Content/img/close.jpg" /></i>
                    <div class="card__caption">
                        <h2 class="card__title">Испанский</h2>

                    </div>
                    <div class="card__copy">

                        <p> Испанский язык приобретает все более важное значение в мире, являясь вторым после английского языком международного общения и четвертым после китайского, английского и хинди самым распространенным языком в мире. Испанский – официальный язык общения на четырех континентах и является родным языком в 21 стране. Именно поэтому, зачастую, когда появляется необходимость изучать второй иностранный язык после английского, выбор падает именно на испанский язык. И неудивительно, ведь на испанском языке общается без малого 500 миллионов человек во всем мире.</p>
                    </div>
                </div>
            </div>
        </div>
        <div id="cardItal" class="card">
            <div class="card__container card__container--closed">
                <svg class="card__image" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" viewBox="0 0 1920 500" preserveAspectRatio="xMidYMid slice">
                    <defs>
                    </defs>
                    <image clip-path="url(#clipPath5)" width="1920px" height="500" xlink:href="/Content/img/it-min.jpg"></image>
                </svg>
                <div class="card__content">
                    <i class="card__btn-close fa fa-times"><img src="../Content/img/close.jpg" /></i>
                    <div class="card__caption">
                        <h2 class="card__title">Итальянский</h2>

                    </div>
                    <div class="card__copy">

                        <p>Иностранные языки начинают учить из разных соображений. Так, например, если вы давно мечтали посетить Италию и в следующий отпуск собираетесь, наконец-то, осуществить свою мечту, пройти курс итальянского языка перед поездкой – замечательная идея. Италия является одной из самых привлекательных стран для туристов и ведь действительно, в Италии есть множество городов с их достопримечательностями, которые просто невозможно оставить без внимания. Стоит ли упоминать об изумительной итальянской кухне с ее пастой, пиццей и тирамису? Если вы интересуетесь историей, куда же как не в Рим и Флоренцию вам нужно отправиться? Милан – столица итальянской моды и лучшее место для заядлых модников. А на островах Сицилия и Сардиния любой сможет насладиться теплым Средиземным морем и его песчаными берегами.</p>
                    </div>
                </div>
            </div>
        </div>
        <div id="cardFrench" class="card">
            <div class="card__container card__container--closed">

                <svg class="card__image" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" viewBox="0 0 1920 500" preserveAspectRatio="xMidYMid slice">
                    <defs>
                    </defs>
                    <image clip-path="url(#clipPath1)" width="1920px" height="500" xlink:href="/Content/img/fr-min.jpg"></image>
                </svg>
                <div class="card__content">
                    <i class="card__btn-close fa fa-times"><img src="../Content/img/close.jpg" /></i>
                    <div class="card__caption">
                        <h2 class="card__title">Французский</h2>
                    </div>
                    <div class="card__copy">
                        <p>
                            Владение английским и французским языками даст большое преимущество на международной бирже труда. Знание французского языка открывает двери французских компаний во Франции и других франкоговорящих странах, среди которых Канада, Швейцария, Бельгия, а также Северная, Центральная и Западная Африка.
                            Также Франция занимает особое положение в мировой экономике. По общему объему экономики Франция на втором место в ЕС и входит в первую десятку мировой экономики.
                        </p>
                    </div>
                </div>
            </div>
        </div>
        <div id="cardGerman" class="card">
            <div class="card__container card__container--closed">
                <svg class="card__image" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" viewBox="0 0 1920 500" preserveAspectRatio="xMidYMid slice">
                    <defs>
                    </defs>
                    <image clip-path="url(#clipPath4)" width="1920px" height="500" xlink:href="/Content/img/de-min.jpg"></image>
                </svg>
                <div class="card__content">
                    <i class="card__btn-close fa fa-times"><img src="../Content/img/close.jpg" /></i>
                    <div class="card__caption">
                        <h2 class="card__title">Немецкий</h2>

                    </div>
                    <div class="card__copy">

                        <p>Немецкий язык является одним из самых распространенных языков во всем мире. Для более 100 миллионов людей - это родной язык, а более 80 млн. человек используют немецкий в качестве второго родного языка. Немецкий язык является официальным рабочим языком ЕС и ряда других международных организаций. На немецком языке говорят в доброй части Европы, в большей степени в Германии и Австрии, а так же в Швейцарии. Но необходимо заметить, что немецкий, на котором говорят в Швейцарии значительно отличается от классического немецкого, курс которого мы предлагаем в нашей онлайн–школе «Dialogue».</p>
                    </div>
                </div>
            </div>
        </div>
        <div id="cardPortu" class="card">
            <div class="card__container card__container--closed">
                <svg class="card__image" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" viewBox="0 0 1920 500" preserveAspectRatio="xMidYMid slice">
                    <defs>
                    </defs>
                    <image clip-path="url(#clipPath2)" width="1920" height="500" xlink:href="/Content/img/po-min.jpg"></image>
                </svg>
                <div class="card__content">
                    <i class="card__btn-close fa fa-times"><img src="../Content/img/close.jpg" /></i>
                    <div class="card__caption">
                        <h2 class="card__title">Португальский</h2>
                    </div>
                    <div class="card__copy">
                        <p>Португальский язык занимает шестое место по численности говорящего на нем населения в мире, и в настоящее время на нем говорят более 200 млн. человек в странах Европы, Африки, Южной Америки и Азии. Португальский является официальным языком в восьми странах: Португалии, Бразилии, Анголе, республике Кабо Верде, Гвинея-Бисау, Мозамбике, Сан-Томе и Принсипи и Восточном Тиморе.</p>
                        <p>Португальский язык входит в группу романских языков и по своей красоте и милозвучности ничуть не уступает другим романским языкам, среди которых испанский, итальянский, французский и другие.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="bg-courses-2 ">
    <div class="container content-3">
        <div class="pattern pattern--hidden "></div>
        <div class="card__caption_title fadeInDown animated">
            <h2>ОСНОВНОЙ КУРС</h2>
            <div class="title_line_1 color_red"></div>
            <div class="title_line_2 color_red"></div>
        </div>

        <div class="card">
            <div class="card__container card__container--closed">
                <svg class="card__image" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" viewBox="0 0 1920 500" preserveAspectRatio="xMidYMid slice">
                    <defs>
                        <clipPath id="clipPath7">
                            <circle class="clip" cx="960" cy="250" r="992"></circle>
                        </clipPath>
                    </defs>
                    <image clip-path="url(#clipPath7)" width="1920px" height="500" xlink:href="/Content/img/veselyie-studentyi-gay-students-min.jpg"></image>
                </svg>
                <div class="card__content">
                    <i class="card__btn-close fa fa-times"><img src="../Content/img/close.jpg" /></i>
                    <div class="card__caption">
                        <h2 class="card__title">Общий курс английского языка</h2>

                    </div>
                    <div class="card__copy">

                        <p>Общий курс английского языка предназначен как для начинающих изучать английский язык, так и для тех, кто уже владеет языком и хочет усовершенствовать навыки говорения, чтения, аудирования и письма. Данный курс, в первую очередь, ориентирован на практику общения. Обучение основано на коммуникативной методике с одновременным изучением грамматики, лексики, идиоматических и разговорных выражений. Одним из важных аспектов изучения английского языка является правильное произношение, поэтому, при прохождении данного курса английского языка, большое внимание уделяется фонетике и правильной постановке интонации у студентов.</p>
                        <p>Общий курс подходит студентам с любым уровнем владения английским языком: beginner, elementary, pre-intermediate, intermediate, upper-intermediate и advanced.</p>
                        <p>Уровень владения английским языком определяется на бесплатном вводном уроке, на котором вы можете задать преподавателю любые интересующие вас вопросы, обсудить ваши интересы, цели и задачи, которые вы ставите перед собой при изучении языка. Затем преподаватель высылает бесплатный учебный материал, который соответствует вашему уровню владения иностранным языком.</p>
                        <p>В целях обеспечения максимальной эффективности обучения иностранному языку, преподаватели нашей онлайн-школы используют на своих уроках современные методики обучения и передовые технологии: специально разработанные учебные программы, аудио и видео записи, специально подобранную литературу и полезные материалы.</p>
                        <p>Ваш интерес в изучении языка для нас крайне важен, поэтому мы всегда учитываем индивидуальные способности, интересы и цели каждого студента.</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="card">
            <div class="card__container card__container--closed">
                <svg class="card__image" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" viewBox="0 0 1920 500" preserveAspectRatio="xMidYMid slice">
                    <defs>
                        <clipPath id="clipPath13">
                            <circle class="clip" cx="960" cy="250" r="992"></circle>
                        </clipPath>
                    </defs>
                    <image clip-path="url(#clipPath13)" width="1920px" height="500" xlink:href="/Content/img/bm-min.jpg"></image>
                </svg>
                <div class="card__content">
                    <i class="card__btn-close fa fa-times"><img src="../Content/img/close.jpg" /></i>
                    <div class="card__caption">
                        <h2 class="card__title">Бизнес-курс английского языка</h2>

                    </div>
                    <div class="card__copy">

                        <p>Если по работе вы часто имеете дело с носителями иностранного языка, умение общаться с вашими иностранными коллегами на их родном языке может значительно улучшить ваши деловые отношения: вы сможете легче налаживать контакты, уверенней вести переговоры и уверенней налаживать контакты с вашими иностранными коллегами, отправляясь в командировки за границу и, тем самым, заметно увеличить ваш доход.</p>
                        <p>Бизнес-курс предназначен для студентов, которые уже владеют английским языком на определенном уровне. Бизнес-курс отличается по сложности от общего разговорного курса английского языка. Предполагается, что, выбирая бизнес-курс, вы обладаете определенным объемом знаний грамматики и лексики английского языка и вашей дальнейшей целью служит улучшение знаний английского языка в бизнес-сфере. Мы рекомендуем данный курс студентам, уровень английского языка которых не ниже pre-intermediate.</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="card">
            <div class="card__container card__container--closed">
                <svg class="card__image" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" viewBox="0 0 1920 500" preserveAspectRatio="xMidYMid slice">
                    <defs>
                        <clipPath id="clipPath8">
                            <circle class="clip" cx="960" cy="250" r="992"></circle>
                        </clipPath>
                    </defs>
                    <image clip-path="url(#clipPath8)" width="1920px" height="500" xlink:href="/Content/img/deti-s-knizhkami-children-with-books-min.jpg"></image>
                </svg>
                <div class="card__content">
                    <i class="card__btn-close fa fa-times"><img src="../Content/img/close.jpg" /></i>
                    <div class="card__caption">
                        <h2 class="card__title">Английский для детей</h2>
                    </div>
                    <div class="card__copy">

                        <p>Вам бы хотелось, чтобы ваши дети с раннего возраста начали изучать английский язык и демонстрировали свои успехи в школе? Тогда курс английского языка для самых маленьких с нашими преподавателями (которые специализируются в преподавании английского языка для детей) – то, что вам необходимо!</p>
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>

<div class=" bg-courses-3 ">
    <div class="container content-3">
        <div class="pattern pattern--hidden "></div>
        <div class="card__caption_title section_3 fadeInDown animated">
            <h2>СПЕЦИАЛИЗИРОВАННЫЕ КУРСЫ</h2>
            <div class="title_line_1"></div>
            <div class="title_line_2"></div>
        </div>
        <div class="card">
            <div class="card__container card__container--closed">
                <svg class="card__image" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" viewBox="0 0 1920 500" preserveAspectRatio="xMidYMid slice">
                    <defs>
                        <clipPath id="clipPath9">
                            <circle class="clip" cx="960" cy="250" r="992"></circle>
                        </clipPath>
                    </defs>
                    <image clip-path="url(#clipPath9)" width="1920px" height="500" xlink:href="/Content/img/happy-sailors-min.jpg"></image>
                </svg>
                <div class="card__content">
                    <i class="card__btn-close fa fa-times"><img src="../Content/img/close.jpg" /></i>
                    <div class="card__caption">
                        <h2 class="card__title">Английский для моряков</h2>

                    </div>
                    <div class="card__copy">

                        <p>Курс «Английский для моряков» разработан согласно специализации и рассчитан на слушателей любого уровня владения английским языком: от beginner до advanced. Таким образом, в нашей онлайн-школе вы можете пройти курс для стюардов, поваров, матросов, мотористов, механиков, электро-механиков и штурманов. Отличие курсов для моряков разных специализаций заключается, главным образом, в терминологии и лексической базе. Так, изучающий английский для моряков, судомеханик подробно изучает техническое устройство судна, терминологию при бункеровке судна и проведении ремонтных работ, штурман - команды на руль, терминологию при швартовании, буксировке, погрузочно-разгрузочных работах, а обслуживающий персонал изучает необходимую лексику для общения по специальности и повседневного общения на судне.</p>
                        <p>Если вы желаете улучшить свой уровень владения английским языком в целях успешного прохождения собеседований, продвижения по карьерной лестнице и получения более выгодных предложений от международных крюинговых компаний, то курс «Английский для моряков» - это то, что вам надо!</p>
                        <p>Знание английского языка не только приумножит ваши шансы на успешное прохождение собеседования, но и поможет вам более уверенно себя чувствовать, общаясь с коллегами в плаваниях.</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="card">
            <div class="card__container card__container--closed">
                <svg class="card__image" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" viewBox="0 0 1920 500" preserveAspectRatio="xMidYMid slice">
                    <defs>
                        <clipPath id="clipPath10">
                            <circle class="clip" cx="960" cy="250" r="992"></circle>
                        </clipPath>
                    </defs>
                    <image clip-path="url(#clipPath10)" width="1920px" height="500" xlink:href="/Content/img/interview-min.jpg"></image>
                </svg>
                <div class="card__content">
                    <i class="card__btn-close fa fa-times"><img src="../Content/img/close.jpg" /></i>
                    <div class="card__caption">
                        <h2 class="card__title">Подготовка к собеседованию на английском языке</h2>

                    </div>
                    <div class="card__copy">

                        <p>Если вы находитесь в поисках новой, высокооплачиваемой работы знание одного или более иностранных языков непременно увеличит ваши шансы по сравнению с другими соискателями на получение желаемой должности. Ни для кого не секрет, что знание иностранного языка, наряду с другими профессиональными умениями, способствует скорому продвижению по карьерной лестнице.</p>
                        <p>Любой успешный в своей сфере деятельности иностранный предприниматель ни на секунду не сомневается, принимая решение изучать новый иностранный язык. Он знает, что в бизнес-командировках личное умение изъясняться на языке бизнес-партнеров дает множество преимуществ при ведение деловых переговоров. Конечно же, можно воспользоваться услугами переводчика, однако степень доверия значительно увеличивается, когда общение между коллегами происходит на родном языке второй стороны.</p>
                        <p>Выбрав курс «Подготовка к собеседованию на английском языке», вы не только обретете максимальную уверенность, необходимую для успешного прохождения собеседования на английском языке, также вы сможете заручиться поддержкой преподавателя в составлении резюме на английском языке, что значительно увеличит ваши шансы на получение желаемой должности.</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="card">
            <div class="card__container card__container--closed">
                <svg class="card__image" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" viewBox="0 0 1920 500" preserveAspectRatio="xMidYMid slice">
                    <defs>
                        <clipPath id="clipPath11">
                            <circle class="clip" cx="960" cy="250" r="992"></circle>
                        </clipPath>
                    </defs>
                    <image clip-path="url(#clipPath11)" width="1920px" height="500" xlink:href="/Content/img/prepare-to-exam-min.jpg"></image>
                </svg>
                <div class="card__content">
                    <i class="card__btn-close fa fa-times"><img src="../Content/img/close.jpg" /></i>
                    <div class="card__caption">
                        <h2 class="card__title">Подготовка к экзаменам</h2>
                    </div>
                    <div class="card__copy">

                        <p>Выбрав курс «Подготовка к экзаменам», вы сможете подготовиться к сдаче тестов Кембриджского университета, таким как: KET, PET, FCE, CAE, CPE. Также преподаватели нашей школы подготовят вас к успешной сдаче экзаменов IELTS и TOEFL. Получив сертификат об успешной сдаче этих экзаменов, вы также получите и официальное подтверждение своих знаний английского языка, т.к. эти сертификаты признаются во всем мире.</p>
                        <p>При выборе данного курса самое главное – это ваше желание и мотивация. Если вы задались целью сдать международный или государственный экзамен по английскому языку, наши преподаватели помогут вам шаг за шагом улучшить навыки разговорной речи, аудирования, письма и чтения и, тем самым, обрести уверенность в своих знаниях, что необходимо для успешной сдачи экзаменов.</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-4"></div>
        <div class="card">
            <div class="card__container card__container--closed">
                <svg class="card__image" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" viewBox="0 0 1920 500" preserveAspectRatio="xMidYMid slice">
                    <defs>
                        <clipPath id="clipPath12">
                            <circle class="clip" cx="960" cy="250" r="992"></circle>
                        </clipPath>
                    </defs>
                    <image clip-path="url(#clipPath12)" width="1920px" height="500" xlink:href="/Content/img/spec-eng-min.jpg"></image>
                </svg>
                <div class="card__content">
                    <i class="card__btn-close fa fa-times"><img src="../Content/img/close.jpg" /></i>
                    <div class="card__caption">
                        <h2 class="card__title">Английский по специализации</h2>
                    </div>
                    <div class="card__copy">

                        <p>Курс «Английский язык по специализации» предназначен для слушателей, для которых общение на английском языке является неотъемлемой частью в сфере работы или учебы.</p>
                        <p>Данный курс английского языка охватывает такие специальности как: экономика, медицина, энергетика, нефтяная промышленность, сфера туризма, телекоммуникации, информационные и электронные технологии, а также многое другое.</p>
                        <p>В процессе обучения английскому языку по вашей специальности в нашей школе, вы, с одной стороны изучаете английский язык в целом, улучшая навыки говорения, аудирования, письма, изучаете базовый грамматический и лексический материал, а с другой стороны, вы овладеваете профессиональной лексикой изучаемого направления.</p>
                        <p>Выбрав курс «Английский язык по специализации», вы сможете свободно общаться на английском языке на профессиональные темы, чувствовать себя гораздо уверенней, принимая участие в конференциях и выступая с презентациями.</p>
                        <p>В ходе обучения английскому языку по специализации, преподаватели нашей школы используют лучшие иностранные учебно-методические пособия, которые несомненно сыграют для вас ключевую роль в наиболее эффективном овладении английским языком в профессиональной сфере.</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-4"></div>
    </div>
</div>
@Html.BeginForm("Spanish", "Course", FormMethod.Post, new { id = "getCourseForm", @class = "hidden" })
{
@Html.TextBox("top", "", new { id = "posTop", @type = "hidden" })
@Html.TextBox("left", "", new { id = "posLeft", @type = "hidden" })
}
@Scripts.Render("~/bundles/courses")
<script>
    $(document).ready(function () {
        $("#courses").addClass("page-scroll-active");
    });

    jQuery(".card__container").attrchange({
        trackValues: false,
        callback: function (event) {
            if (event.attributeName === "class") {
                if (jQuery(this).hasClass("card__container--closed")) {
                    jQuery("body").getNiceScroll().show();
                    jQuery(".card__container").getNiceScroll().hide();
                } else {
                    if (jQuery(window).height() < $(this).find(".card__image").height() + $(this).find(".card__content").height()) {
                        jQuery("body").getNiceScroll().hide();
                        jQuery(this).niceScroll({ zindex: "999", horizrailenabled: false });
                    } else {
                        jQuery(this).getNiceScroll().remove();
                        jQuery("body").getNiceScroll().hide();
                    }
                }
            }
        }
    });
    jQuery(".card__container").on("mouseover mousemove", function () {
        if (!jQuery(this).hasClass("card__container--closed")) {
            jQuery(this).getNiceScroll().resize();
            jQuery("body").getNiceScroll().hide();
        }
        else {
            jQuery(this).getNiceScroll().hide();
        }
    });

    jQuery(".card__container").bind("scroll", this, function () {
        if (!jQuery(this).hasClass("card__container--closed")) {
            jQuery("body").getNiceScroll().hide();
            jQuery(this).getNiceScroll().show();
        }
    });

    jQuery(".card__btn-close").bind("click", this, function () {
        jQuery(this).parent().getNiceScroll().hide();
        jQuery("html").getNiceScroll().show();
    });

    var englishCard = $("#cardEnglish");
    var spanishCard = $("#cardSpanish");
    var germanCard = $("#cardGerman");
    var frenchCard = $("#cardFrench");
    var italCard = $("#cardItal");
    var portuCard = $("#cardPortu");

    jQuery("main").addClass("body--hidden");

    englishCard.on("click", function () {
        var left = englishCard[0].offsetLeft;
        var top = englishCard[0].offsetTop;
        $("#posTop").val(top);
        $("#posLeft").val(left);
        jQuery("#getCourseForm").attr("action", "/english");
        jQuery("#getCourseForm").submit();
    });
    spanishCard.on("click", function () {
        var left = spanishCard[0].offsetLeft;
        var top = spanishCard[0].offsetTop;
        $("#posTop").val(top);
        $("#posLeft").val(left);
        jQuery("#getCourseForm").attr("action", "/spanish");
        jQuery("#getCourseForm").submit();
    });
    germanCard.on("click", function () {
        var left = germanCard[0].offsetLeft;
        var top = germanCard[0].offsetTop;
        $("#posTop").val(top);
        $("#posLeft").val(left);
        jQuery("#getCourseForm").attr("action", "/german");
        jQuery("#getCourseForm").submit();
    });
    frenchCard.on("click", function () {
        var left = frenchCard[0].offsetLeft;
        var top = frenchCard[0].offsetTop;
        $("#posTop").val(top);
        $("#posLeft").val(left);
        jQuery("#getCourseForm").attr("action", "/french");
        jQuery("#getCourseForm").submit();
    });
    italCard.on("click", function () {
        var left = italCard[0].offsetLeft;
        var top = italCard[0].offsetTop;
        $("#posTop").val(top);
        $("#posLeft").val(left);
        jQuery("#getCourseForm").attr("action", "/italian");
        jQuery("#getCourseForm").submit();
    });
    portuCard.on("click", function () {
        var left = portuCard[0].offsetLeft;
        var top = portuCard[0].offsetTop;
        $("#posTop").val(top);
        $("#posLeft").val(left);
        jQuery("#getCourseForm").attr("action", "/portuguese");
        jQuery("#getCourseForm").submit();
    });
</script>